.post_person_box{
    box-shadow: 0px 3px 6px #00000029;
    padding: 1rem ;
}

.post_person_box .heading{
    font-size: 1.8rem;
    text-align: center;
    /* border: 1px solid red; */
    padding: 1rem 0 ;
}


/* this style if for edituploadPage */
 .editupload_card{
    box-shadow: 0px 3px 6px #00000054;
    border-radius: 5px;
    margin: 9% 0;
    /* border: 1px solid red; */
    /* padding: 0 1rem; */
}
.editupload__image_container{
    width: 100%;
    /* border: 1px solid red; */
}
.editupload__image_container img{
    width: 100%;
    height: 100%;
    
}
.editupload__moreinfo{
    padding: .9rem 1rem;
    display: grid;
    /* border: 1px solid yellow; */
    align-items: center;
    /* justify-content: center; */
    /* text-align: center  ; */
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: 
    "editupload__nameinfo editupload__nameinfo num_of_view num_of_view"
    "boosted . . ."
    "delete_btn delete_btn edit_btn edit_btn"
    ;
    gap:20px 2px;
}

.editupload__nameinfo{
    grid-area:editupload__nameinfo ;
    align-self: stretch;

}
.num_of_view{
    grid-area:num_of_view ;
    justify-self: center;
    align-self: stretch;


}
.boosted{
    grid-area:boosted ;

}
.delete_btn{
    grid-area:delete_btn ;

}
.edit_btn{
    grid-area:edit_btn ;
    width: 100%;
    /* align-items: right; */
    justify-self: right;
}



.editupload__nameinfo p:not(.item_name){
color: #0D325C;
font-size: .8rem;
padding: .3rem 0 ;
}
.editupload__nameinfo .item_name{
    font-size: 1.5rem;
    color: var(--thick-blue) ;
}

.editupload__moreinfo .num_of_view{
    margin: .4rem 0;
    color: #0000007A;}

.editupload__moreinfo .boosted{
    border: transparent;
    background-color: #1A508C;
    color: #FFFFFFD8;
    padding: .4rem 1rem;
    /* display: block; */
    width: 100px;
    cursor: pointer;
}

.editupload__moreinfo .btn{
    color: #FFFFFFD8;
    cursor: pointer;
    border: transparent;
    background-color: #1A508C;
    padding: .4rem 1rem;
    border-radius: 4px;
    /* margin:  0 auto; */
    display: block;
    /* display: block; */
    width: 120px;

}   
.btn.delete_btn{
    background-color: #7E0000;
}
/* end of  if for edituploadPage */


@media screen and (min-width:700px){
    .submit_contact_btn{
        display: inline-block;
        width: 30%;
        border-radius: 10px;
    }

    .container{
        display: grid;
        grid-template-columns: 30% auto;
        max-width: unset;
        column-gap: 20px;
        max-width: 1500px;
        margin: 0 auto;
        /* border: 1px solid red; */
        align-items: center;
    }

        .contact_us_info_pane{
            height: 80%;
            max-height: auto;   
            padding: 2rem;  
      

        }

    .container .post_person_box.contactBox{
        /* border: 1px solid red; */
        /* max-width: 400px; */
        margin: 0;

    }
    
    .container.container-in-contactus{      
        /* padding: 0; */
        max-width: 1200px; 
        /* border: 1px solid red; */
        justify-content: center;
        grid-template-columns: 30% 50%;
        gap: 0 70px;
        align-items: unset;
        padding: 4% 0;

    }

}

@media screen and (min-width:900px) {
    .contact_us_info_pane{
        height: 70%;
        width: 90%;
        
    }
    .circle_box{
        display: block;
        height: 120px;
        /* border: 1px solid #ff0000; */
        position: relative;
        margin-top: 20%;
        /* width: 70%; */
    }

    .blue_circle,.light_pink_circle,.purple_circle{
        position: absolute;

        border-radius: 50%;
    }
    .blue_circle{
        background-color: #1A508C;
        width: 90px;
        height: 90px;
        right:20%;
        z-index: 1;
    }
    
    
    .light_pink_circle{
        width: 70px;
        height: 70px;
        background-color: #FFF4E6;
        z-index: 2;
        right: 10%;
        top: 35%;

    }
    .purple_circle{
        width: 32px;
        height: 32px;
        background-color: #C1A1D3;
        bottom: 0;
        right: 10%;
        z-index: 3;
    }
    .contact_us_info_pane_socials{
        margin: 0;
        font-size: 1.5rem;
    }
}

@media screen and (min-width:500px) {
    .editupload__moreinfo .boosted{
        width: 150px;
    }
    .editupload__moreinfo .btn{
        width: 150px;
    padding: .8rem 1rem;

    }



    
}

@media screen and (min-width:960px){
    .editupload_card{
        display: flex;
        padding: .9rem;
        max-width: 800px;
        margin: 4% auto;
    }
    .editupload__image_container{
        width: 40%;
    }
    .editupload__moreinfo{
        width:60%;
    }
    .editupload__moreinfo .boosted{
        width: 100px;
    }
    .editupload__moreinfo .btn{
        width: 100px;
    }
    
    .editupload__moreinfo{
        grid-template-areas: 
        "editupload__nameinfo editupload__nameinfo num_of_view num_of_view"
        
        "boosted . delete_btn edit_btn"
        "boosted . delete_btn edit_btn"
        ;
    }    
}